# required for autogen
autoconf
automake
libtool
# required for configure
bison
flex
eventlog-devel
libdbi-devel
libdbi-dbd-sqlite
glib2-devel
GeoIP-devel
openssl-devel
libnet-devel
libesmtp-devel
hiredis-devel
riemann-c-client-devel
libuuid-devel
libcap-devel
python-devel
java-1.7.0-openjdk-devel
tcp_wrappers-devel
systemd-container-devel
# required for make
make
# required for make check
# FIXME
# required for configure in incubator
libmongo-client-devel
lua-devel
perl-devel
czmq-devel
perl-ExtUtils-Embed
librdkafka-devel
grok-devel
