# required for autogen
autoconf
automake
libtool
pkg-config
# required for configure
bison
flex
libcap-dev
libdbi-dev
libesmtp-dev
libevtlog-dev
libgeoip-dev
libglib2.0-dev
libhiredis-dev
libnet1-dev
libpython-dev
libriemann-client-dev
libssl-dev
libwrap0-dev
openjdk-7-jdk
uuid-dev
# required for make
make
# required for make check
python-pip
# required for configure in incubator
gperf
libevent-dev
liblua5.2-dev
libmongo-client-dev
libperl-dev
librdkafka-dev
libtokyocabinet-dev
libzmq3-dev
